body {
	background-color: black;
	font-family: "Courier New";
	font-size: 16px;
	color: white;
}

#container {
	position: absolute;
	width: 770;
	left: 20px;
	top: 20px;
}

#stdin {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 10px;
	background-color: black;
	font-family: "Courier New";
	font-size: 16px;
	color: white;
	border: none;
	visibility: hidden;
}

#stdin:focus {
	outline: none;
}