#transition-back {
    background-color: black;
    color: white;
}

#transition-container {
    background-color: black;
    color: white;
}

#stdin {
    background-color: black;
    color: white;
}
